body
{
    color: Black;
}

header, nav, footer
{
    text-align: center;
    width: 50%;
}

nav a /* links within "nav" container*/
{ 
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: underline; /* removes underline */
    color: mistyrose; /* by default links are blue */
    border: 1px solid;
    padding: 4px;
    box-shadow: 5px 5px #888888;
}

nav a: hover /* psuedo class */
{
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .3s; /* transition effect */
}

#welcomeText
{
    text-align: center;
    font-size: x-large;
}

#BEText
{
    text-align: center;
    color: yellow;
    font-size: x-large;
}

#FEText
{
    text-align: center;
    color: #660000;
    font-size: x-large;
}

#RLText
{
    text-align: center;
    color: #750b20;
    font-size: x-large;
}

#confusing
{
    float: left;
}

#C, #HTML, #Chef
{
    font-size: large;
    color: white;
    float: left;
}

#Python, #CSS, #Velato
{
    
    font-size: larger;
    color: white;
    float: right;
}
footer
{
    clear: left;
}

footer a
{
    color: white;
}

table
{
    margin: 0px auto;
}

td
{
    padding-right: 10px;
    font-size: 1.3em;
}

td strong
{
    color: Black;
}

#table-header
{
    background-color: #BA80B8;
}

.table-row
{
    background-color: #80BA82;
}

ul
{
    text-align: left;
    padding-left: 200px;
}

.hobby
{
    color: midnightblue;
}

h1
{
    font-family: 'Great Vibes', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}